In [1]:
import pandas as pd

In [4]:
df = pd.read_json('frames.json')

In [3]:
df

    second                                            objects
0        2  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
1        7  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
2        6  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
3        3  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
4       22  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
5        4  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
6        5  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
7        1  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
8       13  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
9       17  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
10      10  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
11       8  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
12      29  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
13      23  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
14      28  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
15      16  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
16      19  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
17      24  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
18      11  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
19      20  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
20      27  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
21      21  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
22      15  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
23      26  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
24      14  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
25      12  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
26      25  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
27      18  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....
28       9  [{'mid': '/m/0k4j', 'name': 'Car', 'score': 0....